<div
    class="hidden lg:visible lg:w-1/2 bg-[url('/media/images/formbg.png')] bg-cover rounded-r-[37px] lg:flex flex-col justify-between items-stretch overflow-hidden">
    <div class="w-[200%] flex items-center flex-grow duration-500 relative">
        <div class="flex w-1/2 items-center justify-center">
            <img class="w-[450px] m-auto flex justify-center bg-white rounded-[20px]" src="/media/images/hiring.png" />
        </div>
    </div>

    <div
        class="bg-[#2b3990] w-full h-[133px] rounded-br-[37px] text-center text-white text-[18px] pt-5 px-16 flex flex-col  items-center justify-between py-5">
        <p>Manage all your job placements from one place.</p>

        @* <div class="flex gap-2">
            <span class="p-1 flex w-fit rounded-full cursor-pointer shadow-sm bg-white"></span>
        </div> *@
    </div>
</div>