<header class="bg-[rgba(245,245,245,0.2)] shadow-sm mb-10">
    <div class="navbar">
        <NavLink href="/">
            <img class="cursor-pointer" src="/media/images/placement_logo.png" />
        </NavLink>
        <div class="nav-links">
            <NavLink href="/people" class="a-links">People</NavLink>
            <NavLink href="/jobs" class="a-links">Jobs</NavLink>
            <NavLink href="/contactus" class="a-links">About</NavLink>
            <NavLink href="login" class="join-btn">Join now</NavLink>
            <NavLink href="signup" class="sign-up-btn">Sign up</NavLink>
        </div>
    </div>
</header>
