 
<div class="flex flex-col items-center w-full  bg-gray pb-8 pt-5 xs:pt-8 sm:pt-28 lg:rounded-l-[37px] lg:w-1/2 lg:p-12">
    <div class="flex flex-col items-center gap-3">
        <NavLink href="/" class="">
            <img class="h-16" alt="logo" src="/media/images/placement_logo.png" />
        </NavLink>

        <p class="text-[#2b3990] text-[13px] xs:text-[15px] xl:text-lg">
            Streamline your Placement process with Us!
        </p>
    </div>
    <SignupFormPartial />

    <div class="flex flex-col items-center justify-between w-full gap-6 xs:gap-10 mt-7 xs:mt-16 max-w-[400px]">
        <span class="text-[12px] xs:text-[14px] sm:text-[16px]">
            Don&apos;t have an account yet?
            <NavLink href="/login" class="text-[#2b3990] no-underline">
                Join Hiree
            </NavLink>
        </span>
    </div>
</div>
