<div class="flex flex-1">
    <input type="text" placeholder="First Name"
        class="outline-none bg-transparent py-1 px-2 flex-1 border-2 sm:border-l-2 sm:border-l-[#0f0f0f5d] ">
    <input type="text" placeholder="Last Name"
        class="outline-none bg-transparent py-1 px-2 flex-1 border-2 sm:border-l-2 sm:border-l-[#0f0f0f5d] border-l-0">
</div>