@page "/"

@using placement_cell_final.Client.Components;

<PageTitle>Placement</PageTitle>



<main>
    <div class="firstSection">
        <div class="firsttext">
            <h2 class="">Welcome to your professional community</h2>
            <form>
                <div class="container mt-8 max-w-lg">
                    <div class="inputs flex flex-col gap-2">
                        <label for="Email">Email or phone</label>
                        <input type="text"
                            class="border-2 border-[#2b39908a] focus:border-[#2b3990] text-lg py-1.5 px-2 outline-none rounded-md"
                            placeholder="Email or phone" />
                    </div>

                    <div class="inputs flex flex-col gap-2 mt-5">
                        <label for="password" class="">Password</label>
                        <input type="password"
                            class="border-2 border-[#2b39908a] focus:border-[#2b3990] text-lg py-1.5 px-2 outline-none rounded-md "
                            placeholder="password" />
                    </div>

                    <button type="submit"
                        class="w-full rounded-md bg-[#505fc0] text-white mt-5 text-lg py-2 px-2 hover:bg-[#2b3990] duration-200 ">
                        Signup
                    </button>

                </div>
            </form>
        </div>
        <div class="firstimg">
            <img src="/media/images/welcome-3688628-3231459.png" />
        </div>
    </div>
</main>

<section>
    <div class="secondsection">
        <div class="secondtext">
            <h2>Explore collaborative articles</h2>
            <p>We’re unlocking community knowledge in a new way. Experts add insights directly into each article.</p>
        </div>
        <div class="secondimg">
            <img
                src="/media/images/pngtree-sharing-economy-collaborative-economy-business-model-png-image_6699990.jpg" />
        </div>
    </div>
</section>

<section>
    <div class="thirdsection">
        <div class="thirdimg">
            <img src="/media/images/1639515333881.png" />
        </div>
        <div class="thirdtext">
            <h2>Find the right job or internship for you</h2>
            <p>Discover the perfect job or internship opportunity through our dedicated placement cell, where we connect
                you with the right career path to fuel your aspirations and growth. Your success story begins here!</p>
        </div>
    </div>
</section>

<section>
    <div class="fourthsection">
        <h2>
            Post your job for thousands of people to see
        </h2>

        <button class="main-btn">Post a job</button>
    </div>
</section>

<section class="fifthsection">
    <div class="findpeoplesection">
        <img src="/media/images/img1.svg" />
        <div class="findpeople">
            <h2>
                Connect with people who can help. Learn the skills you need to succeed
            </h2>
            <button class="main-btn">Find people you know</button>
        </div>
        <img src="/media/images/img2svg.svg" />
    </div>
</section>

<section class="sixth-section">


    <div class="sixthsection">
        <div class="sixth-text">
            <h2>Conversations today could lead to opportunity tomorrow</h2>
            <p>Sending messages to people you know is a great way to strengthen relationships as you take the next step
                in your career.</p>
        </div>
        <div class="sixth-img">
            <img src="/media/images/6976181.jpg" />
        </div>
    </div>

</section>

<section class="seven-section relative ">
    <img src="/media/images/home-bg-img.png" class="w-full absolute h-[90vh] -z-10 -top-20" />
    <div class="seven-text">
        <h2>Join your colleagues, classmates, and friends on Placement cell.</h2>
        <button class="main-btn"> Get Started</button>
    </div>
</section>
