@page "/login"
@using placement_cell_final.Client.Components
@using placement_cell_final.Client.Components.LoginForm

 
<div
    class="lg:w-[90%] lg:mx-auto lg:shadow-[10px_10px_6px_rgba(0,0,0,0.16)] lg:rounded-[37px] flex lg:my-5 max-w-[1300px] min-w-[275px]">
    <LoginFormLeftSide/>
    <LoginFormRightSide />
</div>
